<div class="row marketing" ng-controller="MainCtrl as ctrl">
<form name="form">
  <h2>Modernizr</h2>
  <h3>Placeholder</h3>
  <div class="well">
  		<input type="password" name="password" placeholder="Password" data-ng-model="inputValue" required>
  </div>

  <h3>Password Reveal</h3>
  <div class="well">
  		<input type="password" name="password" data-ng-model="inputValue" required>
  </div>

    <h3>Syntax-Command Field</h3>
    <!-- <button class="ng-exec-button" ng-disabled="disableExecution" onclick="event.preventDefault(); return false;">EXEC</button> -->
    <div class="well">
      <command-field syntax-filter-func="filterSyntaxSuggestions" syntax-validator-func="validateSyntax" field-ref="ctrl.syntaxInputValue" empty-field-message="Insert any text or correct text in the box ..." incomplete-field-message="Insert other text to validate the field!!">
          <bubble-selector></bubble-selector>
        </command-field>
    </div>

</form>
</div>
