<div id="{{widgetId()}}" class="ng-widget keyValuePair" ng-if="widgetVisible">
<div class="ng-type-key">{{options.key}}</div>
<div class="ng-type-value" ng-if="isReadOnlyMode()" ng-blur="validate($event)">{{options.value}}</div>
<div class="ng-type-value-edit" ng-if="isPlaneEditMode()"><input type="{{options.type}}"  ng-model="options.value"></input></div>
<div class="ng-type-value-edit ng-type-value-edit-custom" ng-if="isCustomEditMode()" value="{{options.value}}"><div ng-class="customClass()" ng-click="toggleState()"></div></div>
<div class="ng-content" ng-transclude></div>
</div>
